<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartpi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartPi">
        <activity android:name=".view.kelas.LihatFeedbackActivity"></activity>
        <activity android:name=".view.sign.ChooseEmailActivity" />
        <activity android:name=".view.sign.SignInEmailActivity" />
        <activity android:name=".CreditCardActivity" />
        <activity android:name=".view.pembelian.virtulaccount.VirtualAccountActivity" />
        <activity android:name=".view.pembelian.DetailPembelianActivity" />
        <activity android:name=".view.pembelian.DetailPaketActivity" />
        <activity android:name=".view.pembelian.PilihPaketLanggananActivity" />
        <activity android:name=".view.kelas.filter.FilterWaktuActivity" />
        <activity android:name=".view.pembelian.LanggananPaketActivity" />
        <activity android:name=".view.kelas.PilihJadwalActivity" />
        <activity android:name=".view.kelas.PilihPaketActivity" />
        <activity android:name=".view.kelas.PilihTrialActivity" />
        <activity android:name=".view.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.kelas.DetailKelasActivity" />
        <activity android:name=".view.sign.lupa_password.GantiLupaPasswordActivity" />
        <activity android:name=".view.sign.lupa_password.LupaPasswordAktivasiActivity" />
        <activity android:name=".view.sign.lupa_password.LupaPasswordActivity" />
        <activity android:name=".view.sign.SignUpActivity" />
        <activity android:name=".view.sign.SignInPasswordActivity" />
        <activity android:name=".view.sign.KodeAktivasiActivity" />
        <activity android:name=".view.sign.SignInActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>